@model HTTP5203_Assignment2.Models.ViewModels.ViewTicket

<h4>Ticket</h4>
<hr />
<dl class="row">
  <dt class="col-sm-2">
    @Html.DisplayNameFor( model => Model.ticket.ticketId )
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor( model => Model.ticket.ticketId )
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor( model => Model.ticket.timestamp )
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor( model => Model.ticket.timestamp )
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor( model => Model.user.name )
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor( model => Model.user.name )
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor( model => Model.ticket.subject )
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor( model => Model.ticket.subject )
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor( model => Model.ticket.status )
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor( model => Model.ticket.status )
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor( model => Model.product.name )
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor( model => Model.product.name )
  </dd>
</dl>
<hr />
<h5>Messages</h5>
@if( Model.messages.Count() == 0 ) {
  <span class="m-3">* No Messages *</span>
} else {
  <div class="container overflow-auto mb-3" style="max-height: 1000px">
    @foreach( var item in Model.messages ) {
      <div class="container bg-light m-2">
        <div class="d-flex justify-content-between">
          <small>
            @Html.DisplayFor( modelItem => item.user.name )
          </small>
          @Html.ActionLink( "[i]", "MessageDetails", new {
            id = item.message.messageId,
            ticketId = item.message.ticketId
          } )
        </div>
        @Html.DisplayFor( modelItem => item.message.content )
      </div>
    }
  </div>
}
<div class="m-3">
  <a class="btn btn-primary" asp-action="CreateMessage" asp-route-id="@Model.ticket.ticketId">Send Message</a>
</div>

<div>
  @Html.ActionLink( "Edit", "Edit", new {
    id = Model.ticket.ticketId
  } ) |
  <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
